* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.search-top-bar {
  text-align: center;
  margin: 10px;
}
#buttons {
  margin: 10px;
}
#hot-buttons {
  margin: 3px;
  height: 25px;
  border-radius: 0.2rem;
  text-align: center;
  border: 1px solid transparent;
}
.search-bar {
  margin: 10px;
}
.searched-giphy {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#submit {
  color: white;
  background-color: #1e7e34;
  border-color: #1c7430;
  text-align: center;
}
#trend-btn {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
  text-align: center;
}
.giphy-img {
  width: 289px;
  height: 196px;
  border: 5px solid;
  border-color: white;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.giphy-raiting {
  height: 20px;
  width: 100%;
  background-color: #151515;
  bottom: 0px;
  position: absolute;
  transition: 0.5s;
  color: #979797;
  text-align: start;
}
.giphy-raiting p {
  margin: 0;
  text-align: center;
}
